body {
  background-color: #f1f1f1; }
  body .ptp-admin-body {
    padding: 24px 0;
    max-width: 1280px; }
    body .ptp-admin-body .ptp-content {
      background-color: #ffffff;
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
      margin: 32px 0 0 0;
      padding: 32px; }
      body .ptp-admin-body .ptp-content h3 {
        margin-bottom: 24px; }
      body .ptp-admin-body .ptp-content input[type="text"],
      body .ptp-admin-body .ptp-content input[type="number"] {
        background-color: #f1f1f1;
        border: none;
        box-shadow: none;
        font-size: 14px;
        height: 48px;
        line-height: 48px;
        margin-bottom: 12px;
        width: 100%;
        padding: 0 12px; }
      body .ptp-admin-body .ptp-content button {
        border-radius: 0;
        cursor: pointer;
        height: 48px;
        width: 100%; }
      body .ptp-admin-body .ptp-content .item:hover {
        background-color: #f1f1f1;
        cursor: pointer; }
      body .ptp-admin-body .ptp-content.aside {
        max-width: 240px; }
    body .ptp-admin-body .row {
      margin-right: 0;
      margin-left: 0; }
      body .ptp-admin-body .row > [class*="col-"] {
        padding-left: 7px; }

@media (max-width: 960px) {
  body {
    background-color: #f1f1f1; }
    body .ptp-admin-body .ptp-content.aside {
      max-width: 100%; } }

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(../fonts/MaterialIcons-Regular.woff2) format("woff2"), url(../fonts/MaterialIcons-Regular.woff) format("woff"), url(../fonts/MaterialIcons-Regular.ttf) format("truetype"); }

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
  vertical-align: bottom; }
