body {
  background-color: #f1f1f1; }
  body .ptp-admin-body {
    padding: 24px 0;
    max-width: 1280px; }
    body .ptp-admin-body .ptp-content {
      background-color: #ffffff;
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
      margin: 32px 0 0 0;
      padding: 32px; }
      body .ptp-admin-body .ptp-content h3 {
        margin-bottom: 24px; }
      body .ptp-admin-body .ptp-content input[type="text"],
      body .ptp-admin-body .ptp-content input[type="number"] {
        background-color: #f1f1f1;
        border: none;
        box-shadow: none;
        font-size: 14px;
        height: 48px;
        line-height: 48px;
        margin-bottom: 12px;
        width: 100%;
        padding: 0 12px; }
      body .ptp-admin-body .ptp-content button {
        border-radius: 0;
        cursor: pointer;
        height: 48px;
        width: 100%; }
      body .ptp-admin-body .ptp-content .ptp-list {
        /* preprocessed height */
        position: relative; }
        body .ptp-admin-body .ptp-content .ptp-list .ptp-editor {
          position: absolute;
          width: 50%; }
          body .ptp-admin-body .ptp-content .ptp-list .ptp-editor input {
            color: #666;
            font-weight: bold;
            height: 36px;
            line-height: 36px;
            margin: 0;
            padding: 0 6px;
            position: relative; }
          body .ptp-admin-body .ptp-content .ptp-list .ptp-editor .edit {
            border-radius: 50%;
            background-color: #ffffff;
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
            cursor: pointer;
            height: 24px;
            line-height: 24px;
            position: absolute;
            text-align: center;
            top: 24px;
            width: 24px; }
            body .ptp-admin-body .ptp-content .ptp-list .ptp-editor .edit.save {
              color: #8ec23c;
              right: 84px; }
              body .ptp-admin-body .ptp-content .ptp-list .ptp-editor .edit.save:hover {
                color: #ffffff;
                background-color: #8ec23c; }
            body .ptp-admin-body .ptp-content .ptp-list .ptp-editor .edit.cancel {
              color: #ffcc59;
              right: 54px; }
              body .ptp-admin-body .ptp-content .ptp-list .ptp-editor .edit.cancel:hover {
                color: #ffffff;
                background-color: #ffcc59; }
            body .ptp-admin-body .ptp-content .ptp-list .ptp-editor .edit.delete {
              color: #dd464d;
              right: 24px; }
              body .ptp-admin-body .ptp-content .ptp-list .ptp-editor .edit.delete:hover {
                color: #ffffff;
                background-color: #dd464d; }
            body .ptp-admin-body .ptp-content .ptp-list .ptp-editor .edit .material-icons {
              font-size: 24px;
              line-height: 24px;
              vertical-align: top; }
          body .ptp-admin-body .ptp-content .ptp-list .ptp-editor:before {
            animation: sk-scaleout 1.0s infinite ease-in-out;
            background-color: #ccc;
            border-radius: 100%;
            content: '';
            display: none;
            height: 36px;
            left: -36px;
            -webkit-animation: sk-scaleout 0.5s infinite ease-in-out;
            width: 36px;
            position: absolute;
            top: 0; }

@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
    opacity: 0; } }

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0; } }
          body .ptp-admin-body .ptp-content .ptp-list .ptp-editor.loading:before {
            display: block; }
          body .ptp-admin-body .ptp-content .ptp-list .ptp-editor.loading input {
            color: #ccc; }
          body .ptp-admin-body .ptp-content .ptp-list .ptp-editor.loading .edit {
            display: none; }
        body .ptp-admin-body .ptp-content .ptp-list .row {
          /* list view styling */
          border-bottom: 1px dashed #f1f1f1; }
          body .ptp-admin-body .ptp-content .ptp-list .row .item:hover {
            background-color: #f1f1f1;
            cursor: pointer; }
          body .ptp-admin-body .ptp-content .ptp-list .row > [class*="col-"] {
            padding: 0 6px;
            height: 36px;
            line-height: 36px; }
        body .ptp-admin-body .ptp-content .ptp-list.aside {
          max-width: 240px; }
    body .ptp-admin-body .row {
      margin-right: 0;
      margin-left: 0; }
      body .ptp-admin-body .row > [class*="col-"] {
        padding-left: 7px; }

@media (max-width: 577px) {
  body {
    background-color: #f1f1f1; }
    body .ptp-admin-body .ptp-content .ptp-list .ptp-editor {
      width: 100%; }
      body .ptp-admin-body .ptp-content .ptp-list .ptp-editor .edit {
        /* Increase button size for mobile devices */
        height: 32px;
        line-height: 32px;
        top: 20px;
        width: 32px; }
        body .ptp-admin-body .ptp-content .ptp-list .ptp-editor .edit.save {
          right: 112px; }
        body .ptp-admin-body .ptp-content .ptp-list .ptp-editor .edit.cancel {
          right: 72px; }
        body .ptp-admin-body .ptp-content .ptp-list .ptp-editor .edit.delete {
          right: 32px; }
        body .ptp-admin-body .ptp-content .ptp-list .ptp-editor .edit .material-icons {
          line-height: 32px; }
    body .ptp-admin-body .ptp-content.aside {
      max-width: 100%; } }

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(../fonts/MaterialIcons-Regular.woff2) format("woff2"), url(../fonts/MaterialIcons-Regular.woff) format("woff"), url(../fonts/MaterialIcons-Regular.ttf) format("truetype"); }

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
  vertical-align: bottom; }
